.formulario-div{
    height: 550px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    color: white;
    background-image: linear-gradient(rgb(26, 22, 22),#282a2c,#1c1919);
}


form{
    padding-top: 60px;
    background-color: aliceblue;
}

