.formulario-div{
    height: 700px;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    color: white;
    border-radius: 2px;
    background-image: linear-gradient(rgb(26, 22, 22),#282a2c,#1c1919);
}


form{
    padding-top: 60px;
    background-color: aliceblue;
}

